html{
    margin:0px;
}

body{
    margin:0px;
}

section.page{
    display:flex;
    margin: auto;
    max-width: 1100px;
    gap:20px;
    box-shadow: 0px 0px 10px lightgray;
}

aside{
    background-color: #faf8f5;
    flex:1;
}

main{
    flex:4;
}