html{
    margin:0px;
}

body{
    margin:0px;
}

section.page{
    display:flex;
    margin: auto;
    max-width: 1100px;
    gap:20px;
    box-shadow: 0px 0px 10px lightgray;
    box-sizing: border-box;
    padding-right: 20px;
}

aside{
    background-color: #faf8f5;
    flex:1;
}

main{
    flex:4;
    padding-bottom:50px;
    padding-top: 50px;
}

.blur{
    filter: blur(3px) grayscale(30%);
}

.no-scroll{
    overflow-y: hidden;
}

.discreet-button{
    color:#ff0200;
    text-decoration: underline;
    font-weight: bold;
    background-color: unset;
    border:unset;
    cursor:pointer;
    padding:0px;
}

.cta{
    color:white;
    background-color:#ff0200;
    font-weight: bold;
    cursor:pointer;
    border-radius: 50px;
    border: maroon solid 3px;
    padding: 10px 20px;
}