aside{
    padding:0px 10px;
}

.filter-title{
    display:flex;
    align-items: center;
    gap: 5px;
}

h2.filter-title{
    margin-top: 50px;
}

.sorting-arrows svg:nth-child(2){
    margin-left: -6px;
}

aside h2:nth-child(2){
    margin-top:40px;
}

