footer{
    border-top: black solid 5px;
    background-color: #ff0200;
    color:white;
    font-weight: bold;
}

.footer-container{
    max-width: 1100px;
    box-sizing: border-box;
    padding:20px 10px;
    margin:auto;
}

footer .description{
    font-size:10px;
}